<%- unless @event.iphdr.blank? -%> 
<% # Big long ugly URL to DeepSee Sonar App on Solera DS Appliance  %>
<% # This should probalby go somewhere else. %>
<% ip_specific_sonarcall = "https://#{@event.sensor.solera_api_host}/deepsee_reports?user=#{current_user.solera_api_user}&password=#{current_user.solera_api_pass}#pathString=%2Fipv4_address%2F#{@event.source_ip}%2F;reportIndex=0" %>

	<h2>IP Address Information:</h2>
	<br />
	<div id="ip_info">
		<div id="ip_info_in">
			<table>
				<tr>
					<th>Source IP</th>
					<th>Destination</th>
				</tr>
				<tr>
					<td>
					<span id='ip_address'>
					<%= @event.source_ip %>
					<%- unless !@event.source_ip -%>
						<%= link_to "#{image_tag('other/whois.png', :size=>'12x12')}", 
							{ :action => 'whois', :whois_host => @event.source_ip, :id => @event }, 
								:rel => 'facebox', :title => "Whois: #{@event.source_ip}", :class => 'add_tipsy' %>
						<% # This should be wrapped in some kind of conditional %>
						<% # See All Indexed Data about Source IP in DeepSee Sonar %>
						<%= link_to "#{image_tag('other/solera_sonar_logo.gif', :size=>'12x12')}",
							"#{ip_specific_sonarcall}",
							:target => "_blank", :title => "DeepSee Sonar: /ipv4_address/#{@event.source_ip}", :class => 'add_tipsy' %><br />
					<%- end -%>
					</span>
					</td>
					<td>
						<span id='ip_address'><%= @event.destination_ip %>
						<%- unless !@event.destination_ip -%>
							<%= link_to "#{image_tag('other/whois.png', :size=>'12x12')}", 
								{ :action => 'whois', :whois_host => @event.destination_ip, :id => @event }, 
									:rel => 'facebox', :title => "Whois: #{@event.destination_ip}", :class => 'add_tipsy' %>
							<% # This should be wrapped in some kind of conditional %>
							<% # See All Indexed Data about Destination IP in DeepSee Sonar %>
							<%= link_to "#{image_tag('other/solera_sonar_logo.gif', :size=>'12x12')}", 
								"#{ip_specific_sonarcall}#{@event.destination_ip}%2F;reportIndex=0",
								:target => "_blank", :title => "DeepSee Sonar: /ipv4_address/#{@event.destination_ip}", :class => 'add_tipsy' %><br />
						<%- end -%>
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<%= get_address_for?(current_user, "#{@event.source_ip}") %>
					</td>
					<td>
						<%= get_address_for?(current_user, "#{@event.destination_ip}") %>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div id="more_information">
		<div id="more_information_in" class='round'>
			<table>
				<tr>
					<th>Version</th>
					<th>Header Length</th>
					<th>Type-of-Service</th>
					<th>Length</th>
					<th>ID</th>
					<th>Flags</th>
					<th>Offset</th>
					<th>TTL</th>
					<th>Protocol</th>
					<th>CheckSum</th>
				</tr>
				<tr>
					<td><%= @event.iphdr.ip_ver %></td>
					<td><%= @event.iphdr.ip_hlen %></td>
					<td><%= @event.iphdr.ip_tos %></td>
					<td><%= @event.iphdr.ip_len %></td>
					<td><%= @event.iphdr.ip_id %></td>
					<td><%= @event.iphdr.ip_flags %></td>
					<td><%= @event.iphdr.ip_off %></td>
					<td><%= @event.iphdr.ip_ttl %></td>
					<td><%= @event.iphdr.ip_proto %></td>
					<td><%= @event.iphdr.ip_csum %></td>
				</tr>
			</table>
		
		</div>
	</div>

	<br />
<%- end -%>