<%- unless @event.data_info.blank? -%>
<%- if current_user.solera_api_enabled? -%>
<% dspcapcall = "https://#{@event.sensor.solera_api_host}/ws/pcap?method=deepsee&user=#{current_user.solera_api_user}&password=#{current_user.solera_api_pass}&path=%2Ftimespan%2F#{@event.timestamp.getutc.strftime('%m.%d.%Y.%I.%M.%S')}.#{@event.timestamp.getutc.strftime('%m.%d.%Y.%I.%M.%S')}%2Fipv4_address%2F#{@event.source_ip}_and_#{@event.destination_ip}%2Fdata.pcap" %>
<%- end -%>

	<h2>Payload:</h2>
	<br />

	<%= link_to_function "#{image_tag('other/beaker.png', :size => '16x16')} Show Ascii", toggle_div('#ascii_payload') %> -
	<%= link_to_function "#{image_tag('other/beaker.png', :size => '16x16')} Show Ascii Hex", toggle_div('#ascii_hex_payload') %>
	<%- if current_user.solera_api_enabled? -%>
		- <%= link_to "#{image_tag('other/solera_logo.gif', :size=>'16x16')} Download PCAP", "#{dspcapcall}" %>
	<%- end -%>
	<br />

	<div id="ascii_payload" style='display:none;'>
		<pre><%=h [@event.data_info.data_payload].pack("H*") %></pre>
	</div>
	
	<div id="ascii_hex_payload" style='display:none;'>
		<pre><%= h(@event.data_info.data_payload) %></pre>
	</div>

	<div id="raw_payload">
		<pre><%= h("#{Hexy.new([@event.data_info.data_payload].pack('H*'), :width => 20, :format => :twos, :annotate => :ascii)}") %></pre>
	</div>
<%- end -%>